html
  head
    title Project Springboard
    link(rel="stylesheet", type="text/css", href="static/style.css")
  body
    h1 Project Springboard
    p The Project Springboard has the core build process in place for
      | building and serving a simple website.
    h2 Features
    .feature
      h4 Node
      div Runs an express server to serve pages of your app
    .feature
      h4 Coffeescript
      div Supports Coffeescript if extension is provided
    .feature
      h4 Browserify
      div Allows use of the require keyword and browser-compatible modules
    .feature
      h4 Jade / Pug
      div Template rendering engine


    script(src="static/build.js")